@import "./components/body";
@import "./components/header";
@import "./components/main-index";
@import "./components/footer";
@import "./components/section-mobile";
@import "./components/main-quienes-somos";
@import "./components/main-galeria";
@import "./components/main-franquicia";
@import "./components/main-contacto";
@import "./base/extends";
@import "./base/mixins";
