/* header index */
@import "../base/variable";

.header__container__nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    .navbar {
        .container-fluid {
            .header__h1 {
                font-size: 1rem;
                font-family: 'Antic Didone', serif;
                font-weight: bold;
                
                @include mobile{
                    font-size: 1rem;
                }
                @include tablet{
                    font-size: 1rem;
                }
                
            }

            .collapse {
                .header__ul__item {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.69rem;
                    font-weight: bold;
                    @include mobile{
                        font-size: 0.62rem;
                    }
                    @include tablet{
                        font-size: 0.62rem;
                    }
                }
            }
        }
    }
}