/* Main contacto */
@import "../base/variable";
.main__container__contacto{
    .main__item__div{
        width: 90%;
        max-width: 1200px;
        height: 900px;
        margin: auto;
        overflow: hidden;
        .h2__contacto {
            margin-top: 110px;
            text-align: center;
            font-family: $fonts-subtitle;
            text-decoration: underline;
            font-size: 2rem;
            @media only screen and (max-width:420px){
                font-size: 1.7rem;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                font-size: 1.7rem;
            }
        }
        .main__div__contacto{
            border-radius: 10px;
            padding: 100px 400px;
            display: flex;
            justify-content: center;
            @media only screen and (max-width:420px){
                border-radius: 10px;
                padding: 50px 30px;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                padding: 20px 30px;
            }
            .controls {
                width: 900px;
                height: 60px;
                border: 1px solid black;
                border-radius: 10px;
                margin: 5px;
                font-size: 1.2rem;
                font-family: $fonts-text;
                @media only screen and (max-width:420px){
                    font-size: 1rem;
                    width: 100%;
                    height: 15%;
                }
                @media only screen and (min-width:421px) and (max-width:960px){
                    font-size: 1rem;
                    width: 100%;
                    height: 15%;
                }
            }
            .button {
                height: 200px;
                padding-top: 20px;
                @media only screen and (max-width:420px){
                    height: 50%;
                }
                @media only screen and (min-width:421px) and (max-width:960px){
                    height: 50%;
                }
            }
            .enviar {
                text-align: center;
                border: 1px solid black;
                box-shadow: 10px 10px 10px;
                &:hover{
                    background-color: black;
                    color: nth($colores, 5);
                }
            }
        }
    }
}