/* Main quienes somos */
@import "../base/variable";
.main__container--quienes-somos {
    background-color: nth($colores, 2);
    border-radius: 20px;
    width: 90%;
    height: 50vh;
    max-width: 1200px;
    margin: 200px auto;
    padding: 60px 0;
    @media only screen and (max-width:420px){
        height: 85vh;
        margin-bottom: 600px;
    }
    @media only screen and (min-width:421px) and (max-width:960px){
        height: 85vh;
        margin-bottom: 290px;
    }
    .main__items__quienes-somos{
        background-color: nth($colores, 2);
        border-radius: 20px;
        box-shadow: 10px 5px 50px;
        display: flex;
        flex-direction: column;
        
        .main__h2__quienes-somos{
            color: nth($colores, 1);
            text-align: center;
            font-family: $fonts-subtitle;
            text-decoration: underline;
            font-size: 2rem;
            margin-bottom: 50px;
            @media only screen and (max-width:420px){
                font-size: 1.6rem;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                font-size: 1.8rem;
            }
        }
        .main__texto__quienes-somos {
            color: nth($colores, 1);
            font-family: $fonts-text;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 50px;
            margin-left: 20px;
            @media only screen and (max-width:420px){
                font-size: 1rem;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                font-size: 1.1rem;
            }
        }
    }
}