/* main-index */
@import "../base/variable";


.container {
    .container__div__carousel {
        .main__h2__carousel {
            font-family: $fonts-subtitle;
            font-size: 1.4rem;
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 2.5rem;

            &:hover {
                text-decoration: underline;
            }

            @include mobile {
                font-size: 1.1rem;
            }

            @include tablet {
                font-size: 1.1rem;
            }
        }
    
    }
    .main__carousel{
        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: none;
        }
    }
}





















/* Fin main-index */