
/* main-index */
@import "../base/variable";
.main__h2__carousel{
    font-family: $fonts-subtitle;
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    &:hover{
        text-decoration: underline;
    }
    
    @media only screen and (max-width:420px){
        font-size: 1.7rem;
    }
}
.main__carousel{
    @media only screen and (max-width:420px){
        display: none;
    }
}

/* Media queri main__h2__carousel */
.main__h2__carousel{
    @media only screen and (min-width:421px) and (max-width:960px){
        font-size: 1.7rem;
    }
}
/* madeia queri main__carousel */
.main__carousel{
    @media only screen and (min-width:421px) and (max-width:960px){
        display: none;
    }
}



/* Fin main-index */




















