/* main franquicias */
@import "../base/variable";
.main__container__franquicia{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    text-align: center;
    margin: auto;
    .main__div__franquicia--one{
        .main__texto__franquicia{
            color: nth($colores, 2);
            font-size: 22px;
            font-family: $fonts-subtitle;
            text-decoration: underline;
            margin: 9.37rem 0;
            @include mobile{
                font-size: 15px;
            }
            @include tablet{
                font-size: 15px;
            }
        }
        .main__texto--franquicia{
            background-color: #212529;
            color: nth($colores, 1);
            border-radius: 0.625rem;
            box-shadow: 0.31rem 0.31rem 0.31rem;
            letter-spacing: 10px;
            font-weight: bold;
            line-height: 2.5rem;
            font-size: 14px;
            margin-bottom: 80px;
            @include mobile{
                letter-spacing: 10px;
                font-size: 10px;
                margin: 0 20px;
                letter-spacing: normal;
            }
            @include tablet{
                letter-spacing: 10px;
                font-size: 10px;
                margin: 0 20px;
                letter-spacing: 5px;
            }
        }
    }
    .main__div__franquicias{
        margin-bottom: 300px;
        display: flex;
        justify-content: space-around;
        .foto__occhipinti{
            border: 2px solid black;
            border-radius: 500px;
            height: 100px;
            @include mobile{
                height: 80px;
                margin-top: 50px;
            }
            @include tablet{
                height: 90px;
                margin-top: 50px;
            }
        }
        .foto__asador{
            height: 100px;
            @include mobile{
                margin-top: 50px;
                height: 80px;
            }
            @include tablet{
                height: 90px;
                margin-top: 50px;
            }
        }
    }
}