/* main franquicias */
@import "../base/variable";
.main__container__franquicia{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    text-align: center;
    margin: auto;
    .main__div__franquicia--one{
        .main__texto__franquicia{
            color: nth($colores, 2);
            font-size: 2rem;
            font-family: $fonts-subtitle;
            text-decoration: underline;
            margin: 9.37rem 0;
            @media only screen and (max-width:420px){
                font-size: 1.7rem;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                font-size: 1.7rem;
            }
        }
        .main__texto--franquicia{
            background-color: #212529;
            color: nth($colores, 1);
            border-radius: 0.625rem;
            box-shadow: 0.31rem 0.31rem 0.31rem;
            letter-spacing: 0.625rem;
            font-weight: bold;
            line-height: 2.5rem;
            font-size: 1.2rem;
            margin-bottom: 80px;
            @media only screen and (max-width:420px){
                font-size: 1rem;
                margin: 0 20px;
                letter-spacing: normal;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                font-size: 1rem;
                margin: 0 20px;
                letter-spacing: normal;
            }
        }
    }
    .main__div__franquicias{
        margin-bottom: 300px;
        display: flex;
        justify-content: space-around;
        .foto__occhipinti{
            border: 2px solid black;
            border-radius: 500px;
            height: 150px;
            @media only screen and (max-width:420px){
                height: 120px;
                margin-top: 50px;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                height: 120px;
                margin-top: 50px;
            }
        }
        .foto__asador{
            height: 152px;
            @media only screen and (max-width:420px){
                margin-top: 50px;
                height: 122px;
            }
            @media only screen and (min-width:421px) and (max-width:960px){
                height: 122px;
                margin-top: 50px;
            }
        }
    }
}