/* main galeria */

@import "../base/mixins";
@import "../base/variable";


.main__container__galeria {
    margin: 9.37rem 30px;
    
    @include mobile {
        margin:auto;
        width: 95%;
        
    }

    @include tablet {
        margin: auto;
        width:95%;
    }

    .main__div__galeria {
        text-align: center;
        margin-bottom: 12.5rem;

        .main__h2__galeria {
            color: #212529;
            font-family: $fonts-subtitle;
            font-size: 2.3rem;
            text-decoration: underline;
            margin: 7rem 6.25rem;

            @include mobile{
                font-size: 1.7rem;
            }
        }
        div{
            width: 80%;
            margin: auto;
            .main__p__galeria {
                
                background-color: #212529;
                color: nth($colores, 1);
                font-family: $fonts-text;
                border-radius: 0.625rem;
                box-shadow: 0.31rem 0.31rem 0.31rem;
                letter-spacing: 0.625rem;
                line-height: 2.5rem;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 10px;
    
                @include mobile {
                    width: 90%;
                    font-size: 1rem;
                    margin: auto;
                }
    
                @include tablet{
                    width: 80%;
                    font-size: 1rem;
                    margin: auto;
                }
            }
        }
        
    }

    .main__titulo__galeria {
        color: nth($colores, 2);
        text-align: center;
        font-family: $fonts-subtitle;
        font-size: 2.3rem;
        text-decoration: underline;
        margin: 40px 0;

        @include mobile {
            font-size: 1.7rem;
        }
    }

    .main__container__placares {
        /* Galeria grid placard */
        @extend %ancho-margin;
        @include grilla (grid, repeat(2, 400px), repeat(4, 1fr), 5px);

        

        @include mobile  {
            display: flex;
            flex-direction: column;
        }

        @include tablet{
            display: flex;
            flex-direction: column;

        }

        .grid__items__galeria {
            transition: all 0.5s;
            opacity: 0.8;
            .main__grid__img {
                @extend %img-grid;

            }

            &:hover {
                transform: scale(1.01);
                opacity: 1;
                @include mobile{
                    transform: none;
                }

                @include tablet {
                    transform: none;
                }
            }
            @include mobile{
                opacity: 1;
            }

            @include tablet {
                opacity: 1;
            }
        }

        .grid__items--tres {
            grid-column: 1/3;
            grid-row: 2/3;
        }

        .grid__items--cuatro {
            grid-column: 3/5;
            grid-row: 1/2;
        }

        .grid__items--cinco {
            grid-column: 3/5;
            grid-row: 2/3;
            /* Fin galeria placard*/
        }

    }

    .main__container__pisos {
        @extend %ancho-margin;
        @include grilla(grid, repeat(2, 1fr), repeat(6, 1fr), 5px);

        @include mobile{
            display: flex;
            flex-direction: column;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        .grid__items__galeria {
            transition: all 0.5s;
            opacity: 0.8;

            .main__grid__img {
                @extend %img-grid;
            }

            &:hover {
                transform: scale(1.01);
                opacity: 1;

                @include mobile{
                    transform: none;
                }

                @include tablet {
                    transform: none;
                }

            }

            @include mobile {
                opacity: 1;
            }

            @include tablet {
                opacity: 1;
            }
        }

        .grid__items--seis {
            grid-column: 1/3;
        }

        .grid__items--siete {
            grid-row: 1/3;
            grid-column: 3/5;
        }

        .grid_items--ocho {
            grid-column: 5/7;
            grid-row: 1/2;
        }

        .grid__items--nueve {
            grid-row: 2/3;
            grid-column: 5/7;
        }

        .grid__items--diez {
            grid-column: 1/3;
            grid-row: 2/3;
            /* Fin galeria pisos */
        }
    }

    .main__container__cocina {
        /* galeria cocinas */
        @extend %ancho-margin;
        @include grilla(grid, repeat(2, 400px), repeat(5, 1fr), 5px);


        @include mobile {
            display: flex;
            flex-direction: column;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        .grid__items__galeria {
            transition: all 0.5s;
            opacity: 0.8;

            .main__grid__img {
                @extend %img-grid;
            }

            &:hover {
                transform: scale(1.01);
                opacity: 1;

                @include mobile {
                    transform: none;
                }

                @include tablet {
                    transform: none;
                }
            }

            @include mobile {
                opacity: 1;
            }

            @include tablet {
                opacity: 1;
            }
        }

        .grid__items--doce {
            grid-row: 1/2;
            grid-column: 2/4;
        }

        .grid_items--trece {
            grid-row: 2/3;
            grid-column: 1/4;
        }

        .grid__items--catorce {
            grid-row: 1/2;
            grid-column: 4/6;
        }

        .grid__items--quince {
            grid-column: 4/6;
            grid-row: 2/3;
            /* Fin galeria cocinas */
        }
    }

    .main__container__parrilla {
        /* galeria parrillas */
        @extend %ancho-margin;
        @include grilla(grid, repeat(3, 350px), repeat(4, 1fr), 5px);

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        .grid__items__galeria {
            transition: all 0.5s;
            opacity: 0.8;

            .main__grid__img {
                @extend %img-grid;
            }

            &:hover {
                transform: scale(1.01);
                opacity: 1;

                @include mobile {
                    transform: none;

                }

                @include tablet {
                    transform: none;
                }
            }

            @include mobile{
                opacity: 1;
            }

            @include tablet {
                opacity: 1;
            }
        }

        .grid__items--dieciseis {
            grid-row: 1/3;
            grid-column: 1/3;
        }

        .grid__items--diecinueve {
            grid-column: 3/5;
            grid-row: 2/4;
        }
    }
}